<style>

 header    {
background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
margin:auto;
margin-top :5%;
position:relative;
width:450px;
height:300px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #09C;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

      
    }
  </style>
<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <header>
    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  <div class="field">
    <%= f.label :Admin %><br>
    <%= f.text_field :user_id, :value => Profile.find_by_id(current_user.id).name, :display => true %>

  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_area :desc %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </header>
    
    
<% end %>
