<% if @timenow == nil %>
    no meeting to day
  <%else%>
    <div >
      <% time_end = @timenow.time_end.strftime("%H").to_i+1 %>
      <li style="color: green;padding-top:5%;"><%= "#{@timenow.time_start.strftime("%H:%M")} to #{time_end}#{@timenow.time_end.strftime(":%M")}"  %><h1 style="color: Blue; pdding-top:5%;"> <%= @timenow.desc %> </h1></li>
    </div>
    <!-- comment -->
    <div id="commented">
      <%= render :partial => @timenow.comments if @timenow.comments %>
    </div>
    <!-- end comment -->

    <!-- create comment -->
    <div>
     <%= form_for([@timenow, @timenow.comments.build], remote: true) do |f| %>
     <p>
       <br>
       <%= f.text_area :desc ,id: 'desc_comment' %>
     </p>   

     <p><%= f.submit "Create comment",  id: "button", class: "btn btn-success green" %></p>
     <% end %>
   </div>
    <!-- end comment -->
 <%end%>