<div class="group_header">
  <p> <%= @group.name.upcase %>  /   
    <%= link_to "#{@group.memberlists.size + 1} members",user_group_path(params[:user_id],@group) %>
  </p>
</div>
<!-- reder seach -->
<div>
    <%= render 'seach' %>
</div>
<!-- in lich -->

<!-- phan ben  trai -->
<div id="time_order" class="col-xs-2 col-sm-3 col-md-3 col-lg-3 mg-top-15">
<% if !@time_order.blank? %>
  <% @time_prev = @time_order.first.time_start %>
  <% @time_last = @time_order.last %>
  <li class="mnav-ul-li"> <a><%= @time_order.first.time_start.to_date %></a>
  <ul class="mnav-ul-ul">
  <% @time_order.each do |time| %>
    <% if time.time_start.to_date > @time_prev.to_date %>
        </ul></li>
        <% @time_prev = time.time_start.to_date %>
        <li class="mnav-ul-li"><a><%= time.time_start.to_date %></a>
        <ul class="mnav-ul-ul">
        <%= render partial: "time_order", locals: { time: time } %>
    <% elsif time == @time_last %>
      </ul>
      </li>
    <% else %>
      <%= render partial: "time_order", locals: { time: time } %>
    <%end%>
  <%end%>
<%end%>
</div>
<script type="text/javascript">
  $('#time_order').on('click', '.mnav-ul-li a', function(){
//alert( 'clicked' );
//$(this).parent().find('ul>li:first').slideToggle();
//$(this).find('ul:first > li').slideToggle();
$(this).parent().find('ul:first > li').slideToggle();
$(this).parent().find('ul:first > li').css({ 
  "display": "block",
  "width": "200px", 
});
}); 
</script>

<!-- phan ben phai -->
<div class="col-xs-4 col-sm-6 col-md-6 col-lg-8 pg-top-15">
  <% if @timenow == nil %>
    no meeting to day
  <%else%>
    <div >
      <% time_end = @timenow.time_end.strftime("%H").to_i+1 %>
      <li style="color: green;padding-top:5%;"><%= "#{@timenow.time_start.strftime("%H:%M")} to #{time_end}#{@timenow.time_end.strftime(":%M")}"  %><h1 style="color: Blue; pdding-top:5%;"> <%= @timenow.desc %> </h1></li>
    </div>
    <!-- comment -->
    <div id="commented">
      <%= render :partial => @timenow.comments if @timenow.comments %>
    </div>
    <!-- end comment -->

    <!-- create comment -->
    <div>
     <%= form_for([@timenow, @timenow.comments.build], remote: true) do |f| %>
     <p>
       <br>
       <%= f.text_area :desc ,id: 'desc_comment' %>
     </p>   

     <p><%= f.submit "Create comment",  id: "button", class: "btn btn-success green" %></p>
     <% end %>
   </div>
    <!-- end comment -->
  <%end%>
</div>
<!-- end in lich -->