<p id="notice"><%= notice %></p>

<div>
<%= form_tag "/users/search", method: :post %>
<%= label_tag "name"%><td><br>
<%= text_field_tag :name %><br>
<%= hidden_field_tag :group_id, @group.id %>
<%= submit_tag "let go"%><br>
<% @users = Array.new %>  <!-- khai bao 1 mang users moi de luu lai -->
<% if !params[:list].nil? %> <!-- neu prams khac nil thi ko thuc hien -->
<%   params[:list].each do |l| %><!-- voi moi phan tu list ta lam l-->
<% @users.push(User.find_by_id(l)) %><!--dua vao moi @user la 1 id user-->
<%   end %>
<% end %>
<% if !@users.nil? %> 
<%   @users.each do |u| %><!--voi moi users ta hien name cua chung -->
	     <div><%= u.profile.name %></div>
<%    end %>
<% end %>
	thong tin group
	<br>
	name: 
	<%= @group.name %>
	<br>
	desc: 
	<%=@group.desc %>
	<br>
	<% @memlist = Memberlist.where(group_id: @group.id)%>
		<% if @memlist.size >0 %>
		<%= @memlist.size%> thanh vien
		<br>
		<% @memlist.each do |f| %>
		<% @profile=Profile.find_by_user_id(f.user_id)%>
		<br>

		<%= link_to "#{@profile.name}",user_group_memberlist_profile_path(current_user,@group,f,@profile)%>
		 <td><%= link_to 'Destroy', user_group_memberlist_path(current_user,@group,f), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<%end%>
		<%else%>
		group chua co thanh vien nao
		<%end%>
        <br>
		<br>
</div>

<%= link_to "addmember", new_user_group_memberlist_path(current_user,@group)%>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', attended_groups_path(current_user) %>
