<p id="notice"><%= notice %></p>
<div>
<%= form_tag users_search_path, method: :post %>
<%= label_tag "name"%><td><br>
<%= text_field_tag :name ,"",:style => "width:600px"%>
<%= hidden_field_tag :group_id, @group.id %>
<%= submit_tag "let go",:class => "btn btn-info btn-sm"%><br>

<!--  -->
<%= link_to "addmember", new_user_group_memberlist_path(current_user,@group),:class => "btn btn-info btn-sm"%>
<%= link_to 'Edit', edit_group_path(@group),:class => "btn btn-info btn-sm" %> 
<%= link_to 'Back', attended_groups_path(current_user) ,:class => "btn btn-info btn-sm"%>
<!--  -->

<% @users = Array.new %>  <!-- khai bao 1 mang users moi de luu lai -->
<% if !params[:list].nil? %> <!-- neu prams khac nil thi ko thuc hien -->
<%   params[:list].each do |l| %><!-- voi moi phan tu list ta lam l-->
<% @users.push(User.find_by_id(l)) %><!--dua vao moi @user la 1 id user-->
<%   end %>
<% end %>
<br>
<% if !@users.nil? %> 
  <% @users.each do |u| %>
<!--voi moi users ta hien name cua chung -->
    <% if u != current_user %>
      <div><%= u.profile.name %>
        <%= link_to "+", user_group_memberlists_add_path(@group.user_id, @group, u.id, :list => @users),:class => "btn btn-info btn-sm",:style => "height: 10px, padding-top: 0px"%>
      </div>
    <% end%>
  <% end %>
<% end %>
  thong tin group
  <br>
  name: 
  <%= @group.name %>
  <br>
  desc: 
  <%=@group.desc %>
  <br>
<!-- render -->
 <div class="member">
<div id = "review">
  <%= render :partial => @group.memberlists %>
</div>

</div>
</div>