<div id="text_comment">
<div class="review_<%=h comment.id %>">
  <strong style="color: blue"><%= current_user.profile.name %>:</strong>
  <strong style="color: lightblue;font-size: 10px" ><%= comment.time_sign %></strong>
  <%= comment.desc %>

  <% if current_user.role_id==1||current_user && current_user.id == comment.user_id %>
    <%= link_to  time_order_comment_path(@time_order, comment, :format => :js),:remote => true, id: "delete", method: :delete  do %>
      <img  src="/assets/DeleteRed.png" width="15px" height="15px">
    <% end %>
  <% end %>
</div>
</div>