<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title></title>
  <style type="text/css" media="screen">
    table td {
  width:100px;
  height:100px;
  text-align:center;
  vertical-align:middle;
  background-color:#ccc;
  border:1px solid #fff;
}
table td.highlighted {
  background-color:#999;
}
  </style>
</head>
<body>
<!-- lich -->
<div class="container">
</div>
<!-- end lich -->
  <% @daytime = Array.new %>
  <% @tam = "" %>
<table id='our_table' class="mytb" style="color: GreenYellow;">
  <thead>
       <tr>
           <th></th>
          <% @beginning_of_month = Date.civil(@get_time.strftime("%Y").to_i, @get_time.strftime("%m").to_i, 1) %>
          <% @end_of_month = Date.civil(@get_time.strftime("%Y").to_i, @get_time.strftime("%m").to_i, -1) %>

          <% (@beginning_of_month..@end_of_month).each do |d| %>
          <% if d.day <17 %>
          <th style="witdh: 10px"><%= "#{d.month} #{d.year}" %><br><%= " #{d.day}" %></th>
          <% else %>
          <th style="witdh: 10px; display: none"><%= "#{d.month} #{d.year}" %><br><%= " #{d.day}" %></th>
          <% end %>
           <% end %>
        </tr>
    </thead>
    <tbody>
        <% time = 8 %>
        <% tableid = 1 %>
        <% tam = 0 %>
        <% dem = 0 %>
        <% 11.times do %>
        <tr>
            <th><%= "#{time}:00" %></th>
            <% time = time +1 %>
            <!-- row -->
            <% (@beginning_of_month..@end_of_month).each do |d| %>
                <% if @orders!=nil %>
                <% if d.day < 17 %>
                    <% @orders.each do |f| %>
                        <% if f.cellid == tam*100+ d.day %>
                        <% t = false %>
                        <td id="<%= tam*100+ d.day %>" rowspan ="<%= f.length %>" class="highlighted"></td>
                        <% end %>
                    <% end %>
                    <% if @idlist.map(&:idcell).include?(tam*100+ d.day) %>
                    <% else %>
                        <td id="<%= tam*100+ d.day %>"></td>
                    <% end %> 
                <% else %>
                    <% @orders.each do |f| %>
                        <% if f.cellid == tam*100+ d.day %>
                        <% t = false %>
                        <td id="<%= tam*100+ d.day %>" rowspan ="<%= f.length %>" style="witdh: 10px; display: none" class="highlighted"></td>
                        <% end %>
                    <% end %>
                    <% if @idlist.map(&:idcell).include?(tam*100+ d.day) %>
                    <% else %>
                        <td id="<%= tam*100+ d.day %>" style="witdh: 10px; display: none"></td>
                    <% end %> 
                <% end %>
                <% else %>
                <% if d.day <17 %>
                  <td id="<%= tam*100+ d.day %>"></td>
                  <% else %>
                  <td id="<%= tam*100+ d.day %>" style="witdh: 10px; display: none"></td>
                  <% end %>
                <% end %>
            <% end %>
            <!-- row -->
        </tr>
        <% tam = tam +1 %>
        <% end %>
    </tbody>
</table>
  <script type="text/javascript" charset="utf-8">
    $(function () {
  var isMouseDown = false,
    isHighlighted;
    list = new Array();   
  $("#our_table td")
    .mousedown(function (e) {
      isMouseDown = true;
      $(this).toggleClass("highlighted");
      
      columnNumber = $(e.target).index() + 1;
      headerText = $('th:nth-child(' + columnNumber + ')').text();
      dayytime = $(this).siblings(":first").text()+" "+headerText +" "+this.id;
      if($(this).is(".highlighted")) 
      {
        list.push(dayytime);
        $('#daytime').val(list);
      }
      else
      {
        for (var i=list.length-1; i>=0; i--) {
        if (list[i] === dayytime) {
            list.splice(i, 1);
            $('#daytime').val(list);
          }
        }
      }
      isHighlighted = $(this).hasClass("highlighted");
      return false; // prevent text selection
    })
    
    .mouseover(function (e) {
      if (isMouseDown) {
        $(this).toggleClass("highlighted", isHighlighted);
        columnNumber = $(e.target).index() + 1;
        headerText = $('th:nth-child(' + columnNumber + ')').text();
        dayytime = $(this).siblings(":first").text()+" "+headerText +" "+this.id;
        if($(this).is(".highlighted")) 
        {
          list.push(dayytime);
          $('#daytime').val(list);
        }
        else
        {
          for (var i=list.length-1; i>=0; i--) {
          if (list[i] === dayytime) {
              list.splice(i, 1);
              $('#daytime').val(list);
            }
          }
        }
        }
    });

  $(document)
    .mouseup(function () {
      isMouseDown = false;
    });
    $("#send_list").click(function(){
      $.ajax({
          type: 'GET',
          url: 'welcome/new',
          dataType: 'script',
          data: {order: list}

        });
    });
});
  </script>
<script type="text/javascript">
  function split($table, chunkSize) {
  var cols = $("th", $table).length - 2;
  var n = cols / chunkSize;

  for (var i = 1; i <= n; i++) {
     $("<br/>").appendTo("body");
     var $newTable = $table.clone().appendTo("body");
     for (var j = cols + 1; j > 1; j--) {
         if (j + chunkSize - 1 <= chunkSize * i || j > chunkSize * i + 1) {
             $('td:nth-child(' + j + '),th:nth-child(' + j + ')', $newTable).remove();
         }
     }
  }  
}
</script>
  <%= form_for(@time_order, :html => {:class => "form-horizontal center", :multipart => true}, url: new_time_order_path, method: :get) do |f| %>
    <%= f.hidden_field :time_signed, :id => "daytime" %>
    <%= f.submit "Create", class: "btn btn-primary" %>  
  <% end %>
  <%=  link_to "send daytime", new_welcome_path(:type => @daytime) %>
  <%=  link_to "Groups", groups_path %>
</body>
</html>
