  <style type="text/css" media="screen">
    table td {
  height:50px;
  text-align:center;
  vertical-align:middle;
  background-color:#ccc;
  border:1px solid #fff;
}
table td.highlighted {
  background-color:#999;
}
  </style>
  <% @daytime = Array.new %>
  <% @tam = "" %>
  <% @cur_user = 0 %>
  <% @cur_user = current_user.id if current_user %>
<table id='our_table' class="mytb" style="color: GreenYellow; width: 100%; table-layout: fixed;">
  <thead>
       <tr>
           <th><!-- color --></th>
          <% @beginning_of_month = Date.civil(@get_time.strftime("%Y").to_i, @get_time.strftime("%m").to_i, 1) %>
          <% @end_of_month = Date.civil(@get_time.strftime("%Y").to_i, @get_time.strftime("%m").to_i, -1) %>

          <% (@beginning_of_month..@end_of_month).each do |d| %>
          <% if d.day <17 %>
          <th style="witdh: 5%"><%= "#{d.month} #{d.year}" %><br><%= " #{d.day}" %></th>
          <% else %>
          <th style="witdh: 5%; display: none"><%= "#{d.month} #{d.year}" %><br><%= " #{d.day}" %></th>
          <% end %>
           <% end %>
        </tr>
    </thead>
    <tbody>
        <% time = 8 %>
        <% tableid = 1 %>
        <% tam = 0 %>
        <% dem = 0 %>
        <% 11.times do %>
        <tr>
            <th><%= "#{time}:00" %></th>
            <% time = time +1 %>
            <!-- row -->
            <% (@beginning_of_month..@end_of_month).each do |d| %>
                <% if @orders!=nil %>
                <% if d.day < 17 %>
                    <% @orders.each do |f| %>
                        <% if f.cellid == tam*100+ d.day %>
                        <% t = false %>
                        <td id="<%= tam*100+ d.day %>" rowspan ="<%= f.length %>" class="highlighted" name = "<%= f.id %>" data-daytime ="<%= f.time_start %>">
                          <% @profile = Profile.find_by_user_id(f.user_id) %>
                          <% @user= User.find_by_id(@profile.user_id) %>
                          <% @users = User.new  %>
                          <% @group = Group.find_by_id(1) %>
                          <div class="user_seach_welcome" id="<%= f.user_id %>">
                          <%= render 'form_user' %>
                          </div>
                          </td>
                        <% end %>
                    <% end %>
                    <% if @idlist.map(&:idcell).include?(tam*100+ d.day) %>
                    <% else %>
                        <td id="<%= tam*100+ d.day %>"></td>
                    <% end %> 
                <% else %>
                    <% @orders.each do |f| %>
                        <% if f.cellid == tam*100+ d.day %>
                        <% t = false %>
                        <td id="<%= tam*100+ d.day %>" rowspan ="<%= f.length %>" style="witdh: 10px; display: none" class="highlighted" name = "<%= f.id %>" data-daytime ="<%= f.time_start %>">
                           <% @profile = Profile.find_by_user_id(f.user_id) %>
                          <% @user= User.find_by_id(@profile.user_id) %>
                          <% @users = User.new  %>
                          <% @group = Group.find_by_id(1) %>
                          <div class="user_seach_welcome" id="<%= f.user_id %>">
                          <%= render 'form_user' %>
                          </div>
                        </td>
                        <% end %>
                    <% end %>
                    <% if @idlist.map(&:idcell).include?(tam*100+ d.day) %>
                    <% else %>
                        <td id="<%= tam*100+ d.day %>" style="witdh: 10px; display: none"></td>
                    <% end %> 
                <% end %>
                <% else %>
                <% if d.day <17 %>
                  <td id="<%= tam*100+ d.day %>"></td>
                  <% else %>
                  <td id="<%= tam*100+ d.day %>" style="witdh: 10px; display: none"></td>
                  <% end %>
                <% end %>
            <% end %>
            <!-- row -->
        </tr>
        <% tam = tam +1 %>
        <% end %>
    </tbody>
</table>
  <script type="text/javascript" charset="utf-8">
  var sttdelete = false;
    $(function () {
  var isMouseDown = false,
    isHighlighted;
    list = new Array();   
    var idelete;
  $("#our_table td")
    .mousedown(function (e) {
      isMouseDown = true;
      if(sttdelete)
      {
        if(! $(this).is(':empty'))
        {
          $('#timeorderid').val(this.getAttribute("name"));
          $('#timesigned').val(this.getAttribute("data-daytime"));
          $('#myModalmy').modal('show');
        }
        isMouseDown = false;
      }
      else
      {
          $(this).toggleClass("highlighted");
          isHighlighted = $(this).hasClass("highlighted");
          return false; // prevent text selection
      }
    })
    
    .mouseover(function (e) {
      if (isMouseDown) {
        $(this).toggleClass("highlighted", isHighlighted);
        }
    });

  $(document)
    .mouseup(function () {
      isMouseDown = false;
    });
    $("#send_list").click(function(){
      $.ajax({
          type: 'GET',
          url: 'welcome/new',
          dataType: 'script',
          data: {order: list}

        });
    });
});
</script>
<script type="text/javascript">
  function split($table, chunkSize) {
  var cols = $("th", $table).length - 2;
  var n = cols / chunkSize;

  for (var i = 1; i <= n; i++) {
     $("<br/>").appendTo("body");
     var $newTable = $table.clone().appendTo("body");
     for (var j = cols + 1; j > 1; j--) {
         if (j + chunkSize - 1 <= chunkSize * i || j > chunkSize * i + 1) {
             $('td:nth-child(' + j + '),th:nth-child(' + j + ')', $newTable).remove();
         }
     }
  }  
}
  function next(){
    var dem = 0;
    var table = document.getElementById("our_table");
    $("#our_table thead tr th").each(function(){
      dem = dem +1;
      if(dem >=17)
      {
        this.style = 'witdh:5%; display:visible;';
      }
      else
      {
        this.style = 'display:none';
      }
    });
    dem = 0;
    $("#our_table td").each(function(){
        dem = dem+1;
        if((parseInt(this.id) % 100)>=17)
        {
          this.style = 'witdh: 10px; display: visible;';
        }
        else
        {
          this.style = 'witdh: 10px; display: none;';
        }
      });
    }
    function back(){
      var dem = 0;
      var table = document.getElementById("our_table");
      $("#our_table thead tr th").each(function(){
        dem = dem +1;
        if(dem <18)
        {
          this.style = 'witdh:5%; display:visible;';
        }
        else
        {
          this.style = 'display:none';
        }
      });
      dem = 0;
      $("#our_table td").each(function(){
          dem = dem+1;
          if((parseInt(this.id) % 100)<17)
          {
            this.style = 'witdh: 10px; display: visible;';
          }
          else
          {
            this.style = 'witdh: 10px; display: none;';
          }
        });
    }
    function adelete(){
      if (sttdelete)
      {
        sttdelete = false;
      }
      else
      {
        sttdelete = true;
      }
      if(<%= @cur_user %> != 0)
      {
        if(sttdelete)
        {
            var btn = document.getElementById("adelete");
            btn.value = "Done";
            $("#our_table td div").each(function(){
                if ( this.id == <%= @cur_user %>)
                {
                  this.style = "display: none";
                  this.parentElement.style.backgroundColor = "red";
                }
              });
        }
        else
        {
            var btn = document.getElementById("adelete");
            btn.value = "Delete";
            $("#our_table td div").each(function(){
                if ( this.id == <%= @cur_user %>)
                {
                  this.style = "display: visible";
                  this.parentElement.style.backgroundColor = "#999";
                }
            });
        }
      }
    }
</script>
<script type="text/javascript">
        var textbox1 = "";
        var textbox2 = "";
        var textbox3 = "";
        var descr = "";
        function saveTextBoxes() {
            textbox1 = $("#textbox1").val();
            textbox2 = $("#textbox2").val();
            textbox3 = $("#textbox3").val();
            $("#descr").val(textbox1 + textbox2 + textbox2) ;
            $("#our_table td").each(function(){
              if($(this).hasClass( "highlighted" ) && $(this).is(':empty'))
              {
                columnNumber = $(this).index() + 1;
                headerText = $('th:nth-child(' + columnNumber + ')').text();
                dayytime = $(this).siblings(":first").text()+" "+headerText +" "+this.id;
                list.push(dayytime);               
                }
            });
            $('#daytime').val(list);
            list = [];
        }
    </script> 
  <button onclick="next()">Next</button>
  <button onclick="back()">Back</button>
  <% if current_user %>
  <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Create
  </button><br>
  <input type="button" value="Delete" id="adelete" onclick="adelete()"></input>
  <% end %> 
  <br><br>
    <!-- Modal -->
    <% @groups = Group.where(:user_id => current_user.id) if current_user %>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Input Form</h4>
                </div>
                <%= form_for(@time_order, :html => {:class => "form-horizontal center", :multipart => true, :onsubmit => 'saveTextBoxes();'}, url: new_time_order_path, method: :get) do |f| %>
                <div class="modal-body">
                    Text Box 1 <input type="textbox" id="textbox1"> </input><br>
                    Text Box 2 <input type="textbox" id="textbox2"> </input><br>
                    <%= f.collection_select(:group_id, @groups, :id, :name ) if @groups %>
                </div>
                <div class="modal-footer">
                      <%= f.hidden_field :time_signed, :id => "daytime" %>
                      <%= f.hidden_field :user_id, :id => "descr" %>
                    <%= f.submit "OK", class: "btn btn-primary" %>
                    <% end %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- cofirm -->
     <div class="modal fade" id="myModalmy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Input Form</h4>
                </div>
                <%= form_for(@time_order, :html => {:class => "form-horizontal center", :multipart => true, :remote => true}, url: time_order_path(0), method: :delete) do |f| %>
                <div class="modal-body">
                    Do you want to cancel this meeting?
                </div>
                <div class="modal-footer">
                      <%= f.hidden_field :id, :id => "timeorderid" %>
                      <%= f.hidden_field :time_signed, :id => "timesigned" %>
                    <%= f.submit "OK", class: "btn btn-primary" %>
                    <% end %>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.cofirm -->