<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title></title>
  <style type="text/css" media="screen">
    table td {
  width:100px;
  height:100px;
  text-align:center;
  vertical-align:middle;
  background-color:#ccc;
  border:1px solid #fff;
}

table td.highlighted {
  background-color:#999;
}
  </style>
</head>
<body>
  <% @daytime = Array.new %>
  <% @tam = "" %>
  <table cellpadding="0" cellspacing="0" id="our_table">
  <tr>
    <td>a</td>
    <td>b</td>
    <td>c</td>
  </tr>
  <tr>
    <td>d</td>
    <td>e</td>
    <td>f</td>
  </tr>
  <tr>
    <td>g</td>
    <td>h</td>
    <td>i</td>
  </tr>
</table>
<table id='our_table'>
  <thead>
       <tr>
           <th></th>
          <% @beginning_of_month = Date.civil(2009, 12, 1) %>
          <% @end_of_month = Date.civil(2009, 12, -1) %>

          <% (@beginning_of_month..@end_of_month).each do |d| %>
          <th><%= "#{d.month} #{d.year}" %><br><%= " #{d.day}" %></th>
           <% end %>
        </tr>
    </thead>
    <tbody>
        <% time = 8 %>
        <% tableid = 1 %>
        <% tam = 0 %>
        <% 11.times do %>
        <tr>
            <th><%= "#{time}:00" %></th>
            <% time = time +1 %>
          	<% (@beginning_of_month..@end_of_month).each do |d| %>
          	<td id="<%= tam*100+ d.day %>"></td>
            <% tableid = tableid +1 %>    
          	<% end %>
        </tr>
        <% tam = tam +1 %>
        <% end %>
    </tbody>
</table>
  <script type="text/javascript" charset="utf-8">
    $(function () {
  var isMouseDown = false,
    isHighlighted;
    list = new Array();   
  $("#our_table td")
    .mousedown(function (e) {
      isMouseDown = true;
      $(this).toggleClass("highlighted");
      columnNumber = $(e.target).index() + 1;
      headerText = $('th:nth-child(' + columnNumber + ')').text();
      dayytime = $(this).siblings(":first").text()+" "+headerText;
      if($(this).is(".highlighted")) 
      {
        list.push(dayytime);
        $('#daytime').val(list);
      }
      else
      {
        for (var i=list.length-1; i>=0; i--) {
        if (list[i] === dayytime) {
            list.splice(i, 1);
            $('#daytime').val(list);
          }
        }
      }
      isHighlighted = $(this).hasClass("highlighted");
      return false; // prevent text selection
    })
    .mouseover(function () {
      if (isMouseDown) {
        $(this).toggleClass("highlighted", isHighlighted);
        $(this).text($(this).text() == "DON'T PUSH ME" ? "PUSH ME": "DON'T PUSH ME");
      }
    });

  $(document)
    .mouseup(function () {
      isMouseDown = false;
    });
    $("#send_list").click(function(){
      $.ajax({
          type: 'GET',
          url: 'welcome/new',
          dataType: 'script',
          data: {order: list}

        });
    });
});
  </script>
  <%= form_for(@time_order, :html => {:class => "form-horizontal center", :multipart => true}, url: new_time_order_path, method: :get) do |f| %>
    <%= f.hidden_field :time_signed, :id => "daytime" %>
    <%= f.submit "Create", class: "btn btn-primary" %>  
  <% end %>
  <%=  link_to "send daytime", new_welcome_path(:type => @daytime) %>
  <%=  link_to "Groups", groups_path %>
</body>
</html>