<% @profile=Profile.find_by_user_id(memberlist.user_id)%>
<% value  = "team =>" + @group.name  + "\n" + "name => " + @profile.name + "\n" + "level=> " + @profile.level%>
    <div class="review_<%=h memberlist.user_id %> sub_member test" onmouseover="bigDiv(this)" onmouseout ="normalDiv(this)" style="border: 10px; border-color: red" data-toggle="tooltip" data-placement="top" title = "<%= value%>" >

    <%= link_to user_profile_path(memberlist.user_id, @profile) do %>
            <%= image_tag(@profile.picture_url,:class => 'myimg',:width => "100%",:height => "90%",:style => "border: 5px solid lightblue;
                        -moz-border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        border-radius: 10px;
                        border-color: DeepSkyBlue"
    )%>
    <% end %>

    <%= link_to "#{@profile.name}",user_group_memberlist_profile_path(@group.user_id,@group,memberlist,@profile)%>
    <td><%= link_to 'Destroy', user_group_memberlist_path(current_user,@group,memberlist), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
  </div>  
<!--  -->
<script>
function bigDiv(x) {
  x.style = " border-radius: 10px; border-color: red; -moz-border-radius: 10px; -webkit-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;box-shadow: 0px 0px 4px 4px grey;";
  x.getElementsByClassName("myimg")[0].style = "border:0px";
  // x.style = "border: 5px solid lightblue;";
  // x.style = "-moz-border-radius: 10px;";
  // x.style = " -webkit-border-radius: 10px;";
  // x.style = "  -ms-border-radius: 10px;";
  // x.style = "  -o-border-radius: 10px;";
  // x.style = " border-radius: 10px; border-color: DodgerBlue   ";
  // lam sang anh
  // x.style.opacity = "1";
  // x.style.filter ="alpha(opacity=1000);"
  // x.style.width = "200px";
  // x.style.height = "200px";
}
function normalDiv(x) {
   x.style = "border: 0px";
  x.style.width = "17%";
  x.style.height = "180px";
  x.getElementsByClassName("myimg")[0].style = "border: 5px solid lightblue;border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;";
  // x.style = "border: 0px";
  // x.style.width = "180px";
  // x.style.height = "180px";
  // x.style.opacity = "0.4"; lam mo anh
  // x.style.filter = ": alpha(opacity=40)";
}
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
 </script>