<%= form_for(@profile, html: { multipart: true }) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field"><br>
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </div>

  <div class="picture"><br>
    <%= f.label :avatar %><br>
    <%= f.file_field :picture %>
  </div>

  <div class="actions">
  <br>
    <%= f.submit "update",:class => "btn btn-primary"%>
  </div>

<% end %>