<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @profile.level %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @profile.picture %>
</p>

<div class="picture">
	<%= image_tag(@profile.picture_url, :width => 600) if @profile.picture.present? %>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<% if @group != nil %>
<%= link_to 'Back', user_group_path(current_user,@group) %>
<%else%>
<%= link_to 'Back', profiles_path %>
<%end%>