<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @this_profile.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @this_profile.level %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @this_profile.picture %>
</p>
<div class="picture">
	<%= image_tag(@profile.picture_url, :width => 600) if @profile.picture.present? %>
</div>

<%= link_to 'Edit', edit_user_profile_path(@this_profile.user_id, @this_profile)%> |
<% if @group != nil %>
<%= link_to 'Back', user_group_path(current_user,@group) %>
<%else%>
<%= link_to 'Back', profiles_path %>
<%end%>